<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>
  </head>

  <style> 
   .button-submit {
        background: #356859;
        border: 1px solid #356859;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
      }
      .button-submit:hover,
      .button-submit:active {
        background-color:  #FEE7DF;
        border-color: #FEE7DF;
        background-position: 0 0;
        color: #FD5923;
      }
      .button-submit:active {
        opacity: 0.5;
      }
  </style>

  <body>
    <!-- insert header from _header -->
    <%- include('partials/_header') %>

    <div class="card text-center">

      <div class="card-header"></div>
      <div class="card-body">
        <h5 style="color: #356859;"  class="card-title">TinyURL for: <%= longURL.longURL %></h5>
        <p class="card-text">
          Short URL: <a href="<%= longURL %>"><%= shortURL %></a></p>
      </div>

      <div class="card-footer text-muted" style="align-self: center">
        <div class="card-body" style="align-self: center;">
          <h5 style="color: #FD5923;"   class="card-title">Let's Edit Your Long URL</h5>
          <p class="card-text">
          <form class="form-inline text-center" action="/urls" method="POST">
            <label> <strong>New URL:</strong> </label></p>
              <input 
                class="form-control"
                type="text"
                name="longURL"
                placeholder="http://"
                style="width: 300px; margin: 1em"
              />
              <button class="button-submit" role="button">Update</button>
          </p>
        </div>
      </form>
    </div>

    <div>
      <br>
      <br>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
     
  </body>

 <!-- insert header from _footer -->
 <%- include('partials/_footer') %>
</html>

 <style>
  .card-footer{
    background-color: #EAF6EF;
    border-block-color: #EAF6EF;
  }
 </style>